<div>
    <h2 id="page-heading">
        <span>Prepayment Entries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prepayment-entry" [routerLink]="['/prepayment-entry/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Prepayment Entry
            </span>
        </button>
    </h2>
    <gha-alert></gha-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="prepaymentEntries">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountNumber"><span>Account Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountName"><span>Account Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prepaymentId"><span>Prepayment Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prepaymentDate"><span>Prepayment Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="particulars"><span>Particulars</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceOutlet"><span>Service Outlet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prepaymentAmount"><span>Prepayment Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="months"><span>Months</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplierName"><span>Supplier Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="invoiceNumber"><span>Invoice Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="scannedDocumentId"><span>Scanned Document Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="OriginatingFileToken"><span>Originating File Token</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let prepaymentEntry of prepaymentEntries ;trackBy: trackId">
                <td><a [routerLink]="['/prepayment-entry', prepaymentEntry.id, 'view' ]">{{prepaymentEntry.id}}</a></td>
                <td>{{prepaymentEntry.accountNumber}}</td>
                <td>{{prepaymentEntry.accountName}}</td>
                <td>{{prepaymentEntry.prepaymentId}}</td>
                <td>{{prepaymentEntry.prepaymentDate | date:'mediumDate'}}</td>
                <td>{{prepaymentEntry.particulars}}</td>
                <td>{{prepaymentEntry.serviceOutlet}}</td>
                <td>{{prepaymentEntry.prepaymentAmount}}</td>
                <td>{{prepaymentEntry.months}}</td>
                <td>{{prepaymentEntry.supplierName}}</td>
                <td>{{prepaymentEntry.invoiceNumber}}</td>
                <td>{{prepaymentEntry.scannedDocumentId}}</td>
                <td>{{prepaymentEntry.OriginatingFileToken}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/prepayment-entry', prepaymentEntry.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prepayment-entry', prepaymentEntry.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'prepayment-entry', { outlets: { popup: prepaymentEntry.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
