<div class="table-responsive" *ngIf="amortizationEntries">
    <h5>Amortization Entries</h5>
    <table class="table table-striped table-bordered table-sm row-border hover"
           datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width:100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Amortization Date</th>
            <th>Amortization Amount</th>
            <th>Particulars</th>
            <!--<th>Posted</th>-->
            <th>Prep. SOL</th>
            <th>Prepayment Account</th>
            <th>Amort. SOL</th>
            <th>Amort. Account</th>
            <th>Prepayment Entry</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let amortizationEntry of amortizationEntries ;trackBy: trackId">
            <td><a [routerLink]="['/amortization-entry', amortizationEntry.id, 'view' ]">{{amortizationEntry.id}}</a></td>
            <td>{{amortizationEntry.amortizationDate | date:'mediumDate'}}</td>
            <td>{{amortizationEntry.amortizationAmount | number}}</td>
            <td>{{amortizationEntry.particulars}}</td>
            <!--<td>{{amortizationEntry.posted}}</td>-->
            <td><a (click)="onSelectServiceOutletCode(amortizationEntry.prepaymentServiceOutlet)">{{amortizationEntry.prepaymentServiceOutlet}}</a></td>
            <td><a (click)="onSelectAccountNumber(amortizationEntry.prepaymentAccountNumber)">{{amortizationEntry.prepaymentAccountNumber}}</a></td>
            <td><a (click)="onSelectAccountName(amortizationEntry.amortizationServiceOutlet)">{{amortizationEntry.amortizationServiceOutlet}}</a></td>
            <td><a (click)="onSelectAccountName(amortizationEntry.amortizationAccountNumber)">{{amortizationEntry.amortizationAccountNumber}}</a></td>
            <td><a [routerLink]="['/prepayment-entry', amortizationEntry.prepaymentEntryId, 'view' ]">{{amortizationEntry.prepaymentEntryId}}</a></td>
        </tr>
        </tbody>
    </table>
</div>
