<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transactionAccountReport">
            <h2><span>Report : </span> {{transactionAccountReport.reportTitle}}</h2>
            <hr>
            <gha-alert-error></gha-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Report Name : </span></dt>
                <dd>
                    <span>{{transactionAccountReport.reportTitle}}</span>
                </dd>

                <br />

                <dt><span>Report Type : </span></dt>
                <dd>
                    <span>{{transactionAccountReport.reportType}}</span>
                </dd>

                <br />

                <dt><span>Report File</span></dt>
                <dd>
                    <div *ngIf="transactionAccountReport.reportFile">
                        <a (click)="openFile(transactionAccountReport.reportFileContentType, transactionAccountReport.reportFile)">open</a>
                        <span class="pull-left">{{transactionAccountReport.reportFileContentType}}, {{byteSize(transactionAccountReport.reportFile)}}</span>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <br />
        </div>
    </div>
</div>
