<p>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                PREPS SYSTEM
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card>
            <mat-card-content>
                <gha-prepayments-dashboard></gha-prepayments-dashboard>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <gha-health-dashboard></gha-health-dashboard>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <gha-metric-dashboard></gha-metric-dashboard>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <gha-users-dashboard></gha-users-dashboard>
            </mat-card-content>
        </mat-card>

    </mat-expansion-panel>
</p>
