<div>
    <h2 id="page-heading">
        <span>Prepayment Data Entry Files</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prepayment-data-entry-file" [routerLink]="['/prepayment-data-entry-file/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Prepayment Data Entry File
            </span>
        </button>
    </h2>
    <gha-alert></gha-alert>
    <br/>
    <div class="table-responsive" *ngIf="prepaymentDataEntryFiles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="periodFrom"><span>Period From</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="periodTo"><span>Period To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataEntryFile"><span>Data Entry File</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uploadProcessed"><span>Upload Processed</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uploadSuccessful"><span>Upload Successful</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let prepaymentDataEntryFile of prepaymentDataEntryFiles ;trackBy: trackId">
                <td><a [routerLink]="['/prepayment-data-entry-file', prepaymentDataEntryFile.id, 'view' ]">{{prepaymentDataEntryFile.id}}</a></td>
                <td>{{prepaymentDataEntryFile.periodFrom | date:'mediumDate'}}</td>
                <td>{{prepaymentDataEntryFile.periodTo | date:'mediumDate'}}</td>
                <td>
                    <a *ngIf="prepaymentDataEntryFile.dataEntryFile" (click)="openFile(prepaymentDataEntryFile.dataEntryFileContentType, prepaymentDataEntryFile.dataEntryFile)">open</a>
                    <span *ngIf="prepaymentDataEntryFile.dataEntryFile">{{prepaymentDataEntryFile.dataEntryFileContentType}}, {{byteSize(prepaymentDataEntryFile.dataEntryFile)}}</span>
                </td>
                <td>{{prepaymentDataEntryFile.uploadProcessed}}</td>
                <td>{{prepaymentDataEntryFile.uploadSuccessful}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/prepayment-data-entry-file', prepaymentDataEntryFile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prepayment-data-entry-file', prepaymentDataEntryFile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'prepayment-data-entry-file', { outlets: { popup: prepaymentDataEntryFile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="prepaymentDataEntryFiles && prepaymentDataEntryFiles.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
