<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="amortizationUploadFile">
            <h2><span>Amortization Upload File</span> {{amortizationUploadFile.id}}</h2>
            <hr>
            <gha-alert-error></gha-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Period From</span></dt>
                <dd>
                    <span>{{amortizationUploadFile.periodFrom}}</span>
                </dd>
                <dt><span>Period To</span></dt>
                <dd>
                    <span>{{amortizationUploadFile.periodTo}}</span>
                </dd>
                <dt><span>Data Entry File</span></dt>
                <dd>
                    <div *ngIf="amortizationUploadFile.dataEntryFile">
                        <a (click)="openFile(amortizationUploadFile.dataEntryFileContentType, amortizationUploadFile.dataEntryFile)">open</a>
                        {{amortizationUploadFile.dataEntryFileContentType}}, {{byteSize(amortizationUploadFile.dataEntryFile)}}
                    </div>
                </dd>
                <dt><span>Upload Successful</span></dt>
                <dd>
                    <span>{{amortizationUploadFile.uploadSuccessful}}</span>
                </dd>
                <dt><span>Upload Processed</span></dt>
                <dd>
                    <span>{{amortizationUploadFile.uploadProcessed}}</span>
                </dd>
                <dt><span>Entries Count</span></dt>
                <dd>
                    <span>{{amortizationUploadFile.entriesCount}}</span>
                </dd>
                <dt><span>File Token</span></dt>
                <dd>
                    <span>{{amortizationUploadFile.fileToken}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/amortization-upload-file', amortizationUploadFile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
