<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accountingTransaction">
            <h2><span>Accounting Transaction</span> {{accountingTransaction.id}}</h2>
            <hr>
            <gha-alert-error></gha-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Account Name</span></dt>
                <dd>
                    <span>{{accountingTransaction.accountName}}</span>
                </dd>
                <dt><span>Account Number</span></dt>
                <dd>
                    <span>{{accountingTransaction.accountNumber}}</span>
                </dd>
                <dt><span>Transaction Date</span></dt>
                <dd>
                    <span>{{accountingTransaction.transactionDate}}</span>
                </dd>
                <dt><span>Transaction Amount</span></dt>
                <dd>
                    <span>{{accountingTransaction.transactionAmount}}</span>
                </dd>
                <dt><span>Increment Account</span></dt>
                <dd>
                    <span>{{accountingTransaction.incrementAccount}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/accounting-transaction', accountingTransaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
