<div>
    <h2 id="page-heading">
        <span>Amortization Entries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-amortization-entry" [routerLink]="['/amortization-entry/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Amortization Entry
            </span>
        </button>
    </h2>
    <gha-alert></gha-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="amortizationEntries">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amortizationDate"><span>Amortization Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amortizationAmount"><span>Amortization Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="particulars"><span>Particulars</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prepaymentServiceOutlet"><span>Prepayment Service Outlet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prepaymentAccountNumber"><span>Prepayment Account Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amortizationServiceOutlet"><span>Amortization Service Outlet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amortizationAccountNumber"><span>Amortization Account Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="originatingFileToken"><span>Originating File Token</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orphaned"><span>Orphaned</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prepaymentEntryId"><span>Prepayment Entry</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let amortizationEntry of amortizationEntries ;trackBy: trackId">
                <td><a [routerLink]="['/amortization-entry', amortizationEntry.id, 'view' ]">{{amortizationEntry.id}}</a></td>
                <td>{{amortizationEntry.amortizationDate | date:'mediumDate'}}</td>
                <td>{{amortizationEntry.amortizationAmount}}</td>
                <td>{{amortizationEntry.particulars}}</td>
                <td>{{amortizationEntry.prepaymentServiceOutlet}}</td>
                <td>{{amortizationEntry.prepaymentAccountNumber}}</td>
                <td>{{amortizationEntry.amortizationServiceOutlet}}</td>
                <td>{{amortizationEntry.amortizationAccountNumber}}</td>
                <td>{{amortizationEntry.originatingFileToken}}</td>
                <td>{{amortizationEntry.orphaned}}</td>
                <td>
                    <div *ngIf="amortizationEntry.prepaymentEntryId">
                        <a [routerLink]="['../prepayment-entry', amortizationEntry.prepaymentEntryId , 'view' ]" >{{amortizationEntry.prepaymentEntryId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/amortization-entry', amortizationEntry.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/amortization-entry', amortizationEntry.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'amortization-entry', { outlets: { popup: amortizationEntry.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
