<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="gha-service-outlet-heading">Create or edit a Service Outlet</h2>
            <div>
                <gha-alert-error></gha-alert-error>
                <div class="form-group" [hidden]="!serviceOutlet.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                           readonly />
                </div>

                <gha-dynamic-form [question]="question" [model]="serviceOutlet" [queryForm]="editForm"></gha-dynamic-form>

            </div>
        </form>
    </div>
</div>
