<div class="row card-deck col-12  mt-3">
    <gha-dashboard-hud-outstanding-preps  class="card col-4" style="width: 18rem;"></gha-dashboard-hud-outstanding-preps>

    <div class="card col-4" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Amortization</h5>
            <h1 class="card-subtitle mb-2 text-muted"><span class="display-10">KE</span><span class="display-4">16.8</span><span class="display-10">m</span></h1>
            <p class="card-text">Amortization Amount for this month</p>
        </div>
        <div class="card-footer row">
            <a href="#" class="card-link">Current Month</a>
            <a href="#" class="card-link">Previous Month</a>
        </div>
    </div>

    <div class="card col-4" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Orphaned Items</h5>
            <h1 class="card-subtitle mb-2 text-muted display-4">109</h1>
            <p class="card-text">Orphaned Amortization Entries</p>
        </div>
        <div class="card-footer row">
            <a href="#" class="card-link">Amortization</a>
            <a href="#" class="card-link">Prepayments</a>
        </div>
    </div>
</div>
