<div class="row card-deck col-12  mt-3">
    <gha-dashboard-hud-outstanding-preps  class="card col-4" style="width: 18rem;"></gha-dashboard-hud-outstanding-preps>

    <gha-dashboard-hud-amortization class="card col-4" style="width: 18rem;"></gha-dashboard-hud-amortization>

    <div class="card col-4" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Orphaned Items</h5>
            <h1 class="card-subtitle mb-2 text-muted display-4">109</h1>
            <p class="card-text">Orphaned Amortization Entries</p>
        </div>
        <div class="card-footer row">
            <a href="#" class="card-link">Amortization</a>
            <a href="#" class="card-link">Prepayments</a>
        </div>
    </div>
</div>
