<div>
    <h2 id="page-heading">
        <span>Updated Amortization Entries</span>
        <!--<button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-updated-amortization-entry" [routerLink]="['/updated-amortization-entry/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Updated Amortization Entry
            </span>
        </button>-->
    </h2>
    <gha-alert></gha-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="updatedAmortizationEntries">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amortizationDate"><span>Amortization Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amortizationAmount"><span>Amortization Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="particulars"><span>Particulars</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prepaymentServiceOutlet"><span>Prepayment Service Outlet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prepaymentAccountNumber"><span>Prepayment Account Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amortizationServiceOutlet"><span>Amortization Service Outlet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amortizationAccountNumber"><span>Amortization Account Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="originatingFileToken"><span>Originating File Token</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amortizationTag"><span>Amortization Tag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orphaned"><span>Orphaned</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateOfUpdate"><span>Date Of Update</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reasonForUpdate"><span>Reason For Update</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prepaymentEntryId"><span>Prepayment Entry</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let updatedAmortizationEntry of updatedAmortizationEntries ;trackBy: trackId">
                <td><a [routerLink]="['/updated-amortization-entry', updatedAmortizationEntry.id, 'view' ]">{{updatedAmortizationEntry.id}}</a></td>
                <td>{{updatedAmortizationEntry.amortizationDate | date:'mediumDate'}}</td>
                <td>{{updatedAmortizationEntry.amortizationAmount}}</td>
                <td>{{updatedAmortizationEntry.particulars}}</td>
                <td>{{updatedAmortizationEntry.prepaymentServiceOutlet}}</td>
                <td>{{updatedAmortizationEntry.prepaymentAccountNumber}}</td>
                <td>{{updatedAmortizationEntry.amortizationServiceOutlet}}</td>
                <td>{{updatedAmortizationEntry.amortizationAccountNumber}}</td>
                <td>{{updatedAmortizationEntry.originatingFileToken}}</td>
                <td>{{updatedAmortizationEntry.amortizationTag}}</td>
                <td>{{updatedAmortizationEntry.orphaned}}</td>
                <td>{{updatedAmortizationEntry.dateOfUpdate | date:'mediumDate'}}</td>
                <td>{{updatedAmortizationEntry.reasonForUpdate}}</td>
                <td>
                    <div *ngIf="updatedAmortizationEntry.prepaymentEntryId">
                        <a [routerLink]="['../prepayment-entry', updatedAmortizationEntry.prepaymentEntryId , 'view' ]" >{{updatedAmortizationEntry.prepaymentEntryId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/updated-amortization-entry', updatedAmortizationEntry.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/updated-amortization-entry', updatedAmortizationEntry.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'updated-amortization-entry', { outlets: { popup: updatedAmortizationEntry.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="updatedAmortizationEntries && updatedAmortizationEntries.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
